.battlefield {
  height: 30vh;
  background-color: #50577a;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
}

.battle-side {
  width: 50%;
  height: 30vh;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
