.message-box {
  height: 16vh;
  margin-left: 10%;
  margin-right: 10%;
}

.message-box-content {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.victory-theme {
  font-weight: bold;
  background-color: #878d8a;
  color: #f5f5fa;
}

.confirm-button {
  height: 6vh;
  width: 50%;
  border-radius: 0.7vh;
  font-family: "Courier", "monospace";
  font-weight: bold;
}
